language: python
python:
  - "3.5"

env:
  - TOX_ENV=py27-django110
  - TOX_ENV=py35-django110
  - TOX_ENV=py34-django110
  - TOX_ENV=py35-django19
  - TOX_ENV=py34-django19
  - TOX_ENV=py27-django19
  - TOX_ENV=py35-django18
  - TOX_ENV=py34-django18
  - TOX_ENV=py33-django18
  - TOX_ENV=py27-django18
  - TOX_ENV=py34-django17
  - TOX_ENV=py33-django17
  - TOX_ENV=py27-django17

# command to install dependencies
install:
  - pip install tox
# command to run tests
script:
    - tox -e $TOX_ENV
